[run]
branch = true
parallel = true
source = pytest_click

[paths]
source =
   src/pytest_click
   .tox/*/lib/python*/site-packages/pytest_click

[report]
show_missing = true
precision = 2
exclude_lines = raise NotImplementedError
omit = */tests/*
       setup.py
       */*.egg/*
       */*.egg-info/*
